<div class="footer container-fluid">
  <div class="logo">
  </div>
  <div class="reach-us row">
    <div class="find-us col-lg-4 col-md-4 col-sm-12">
      <div class="img ">
        <img src="../../assets/img/map-pin.svg" alt="location" /> 
      </div>
      <div class="text">
        <p>Find Us</p>
        <p>Ngong Plaza, Ngong Rd.</p>
      </div>
    </div>
    <div class="call-us col-lg-4 col-md-4 col-sm-12">
      <div class="img">
        <img src="../../assets/img/phone-call.svg"  />
      </div>
      <div class="text">
        <p>Call Us</p>
        <p>+2547 1234 5678</p>
      </div>
    </div>
    <div class="mail-us col-lg-4 col-md-4 col-sm-12">
      <div class="img">
        <img src="../../assets/img/mail.svg" alt="mail" />
      </div>
      <div class="text">
        <p>Mail Us</p>
        <p>inspire.quote@quotes.com</p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; Fresh Quotes | 2022</p>
  </div>
</div>
